.dimmed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.closedModal {
  display: none;
}

.openDeleteModal {
  display: flex;
  flex-direction: column;
  position: fixed;

  top: 35%;
  left: 33%;

  width: 423px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  color: black;

  z-index: 15;
}

.openDeleteModal h3 {
  margin-left: 50px;
  margin-top: 30px;
}

.openDeleteModal a {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 15px;
}

.inputBox {
  width: 200px;
  height: 20px;
  float: right;
}

.openDeleteModal .buttonCon {
  display: flex;
  align-self: flex-end;
  margin-right: 50px;
}

.openDeleteModal .redButton {
  margin: 5px 5px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  margin-right: 5px;
  background-color: #ffcfcf;
}

.openDeleteModal .button {
  margin: 5px 5px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
}

#modal-animation {
  transform: scale(1);
}
#modal-animation {
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-animation {
  /* 콘텐츠를 초기에 보여주지 않음 */
  opacity: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

/* Dimmed showing */
@keyframes fadeIn {
  0% {
    background: transparent;
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
/* Show modal content from bottom to top */
@keyframes scaleUp {
  0% {
    /* 모달 콘텐츠를 하단에 위치시킴 */
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    /* 모달 콘텐츠를 본래 위치로 돌려놓음 */
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
/* Shrink content */
@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
