.full {
  left: 0;
  top: 0;
  width: 100vw;
  height: 80vh;
  position: relative;
}

.detailView-bigContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  width: 100vw;
  height: 80vh;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15px;
  margin-right: 15px;

  width: 45%;
  height: 800px;
  border: 0px solid transparent;

  z-index: 1;
}

.backContainer {
  display: flex;
  flex-direction: row;
  width: 120px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.backArrow {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.backContainer a {
  line-height: 30px;
  font-size: 17px;
}

.leftContainer .detailView {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;
  height: 725px;
  border: 1px solid black;
  border-radius: 15px;

  align-items: center;
  justify-content: center;

  z-index: 1;
}

.leftContainer .detailView span {
  margin-bottom: 15px;
}

.leftContainer .detailView a {
  margin-top: 25px;
  margin-bottom: 25px;
}

.detailButtonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 66px;
  height: 50px;
  margin-top: 30px;
}

.editButton {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px;
}

.deleteButton {
  position: relative;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  margin-left: 30px;

  width: 45%;
  height: 770px;
  border: 1px solid black;
  border-radius: 15px;

  z-index: 1;
}

.rightContainer .starBox {
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 18px;
  gap: 12px;
}

.rightContainer .reviewList {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65%;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 30px;
  overflow: auto;
}

.rightContainer .totalReviews {
  font-size: 14px;
  position: absolute;
  right: 6%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: darkgray;
}

.loader {
  position: relative;
  width: 80%;
  height: 60px;
  align-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
