.bigContainer {
    display: flex;
    align-content: center;
    justify-content: center;

    .homeContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(210px, 220px));
      column-gap: 15px;
      row-gap: 30px;
      width: 90%;
      align-content: center;
      justify-content: center;
      padding: 30px 60px;
    }
}