.bigContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.homeContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
  row-gap: 30px;

  align-content: center;
  justify-content: center;
  
  padding: 30px 60px;
}

/* .homeContainer {
  display: flex;
  width: 95vw;
  height: 70vh;

  position: absolute;
  margin: 10px 0 10px 10px;
  border-radius: 15px;
  border: solid 1px;
  flex-direction: column;
  overflow: auto;
  position: relative;

  justify-content: center;
  align-items: center;
} */
