.menuContainer {
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.menu {
  width: 95%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid black;
}

.menuSelected {
  width: 95%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #ffe4d2;
}

.menu:hover {
  background-color: #fff5f5;
  border-top: 1px solid black;
}

.menuId {
  width: 40px;
}

.menuName {
  width: 160px;
  margin-right: 20px;
}

.menuType {
  width: 60px;
  margin-right: 60px;
}

.menuPrice {
  width: 80px;
  margin-right: 60px;
}

.menuRating {
  width: 160px;
  align-content: center;
  
}

.menuRating .rating {
  width: 20px;
  height: 20px;
}