.reviewContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  align-self: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;

  padding-top: 10px;
  padding-left: 2%;
}

.reviewContainer label {
  font-size: 12px;
  font-weight: 600;
  margin-right: 12px;
}

.reviewContainer span {
  font-size: 10px;
  font-weight: 200;
  color: gray;
  margin-left: 12px;
}

.reviewContainer a {
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 26px;
}

.reviewContainer .headR {
  display: flex;
  position: relative;
  height: 20px;
  width: 100%;
  align-items: center;
  margin-bottom: 6px;
}

.reviewContainer .headR .rating {
  width: 14px;
  height: 14px;
  margin-bottom: 5px;
}

.reviewContainer .buttonBox1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 4px;
}

.reviewContainer .editBtn {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 2px;
}

.reviewContainer .deleteBtn {
  width: 20px;
  height: 20px;
  position: relative;
}

.reviewContainer .hidden {
  display: none;
}
