.theader {
  width: 95%;
  height: 40px;
  margin-top: 10px;
  align-self: center;
  align-items: center;
  text-align: center;
  display: flex;
  border-bottom: 1px solid black;
}

.theader .id {
  padding: 7px 20px 7px 0px;
  height: 40px;
  text-align: left;
  margin-top: auto;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.theader .name {
  padding: 7px 315px 7px 5px;
  height: 40px;
  text-align: left;
  margin-top: auto;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.theader .price {
  padding: 7px 100px 7px 10px;
  height: 40px;
  text-align: left;
  margin-top: auto;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
